<% if user_signed_in? %>
<h1>Welcome <span style="color:red;"><%= current_user.full_name %></span>

  </h1>
  <h4>Please find the instructions on how to use this system below</h4>

<% if current_user.admin? %>
  <%= "hello You can see this if you are an admin"%>
  <p style="color:purple"><b>Things to do:
    <li style="color:purple">Notification system</li>
    <li style="color:purple">Delete user</li>
    <li style="color:purple">Search users</li>
    <li style="color:purple">Overall look</li>
    <li style="color:purple">Other styled tables</li></b>
  </p>
  <% end %>
<% end %>
